{{ $gohugoio := "gohugoio" }}
<!-- Site & Page Meta Data -->
{{ if eq .Type "post" }}
  {{ $description := .Description | default .Summary }}
  <!-- Page Author & Description -->
  <meta name="author" content="{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}" />
  <meta name="description" content="{{ $description | plainify }}">

  <!-- Twitter Card -->
  {{ if isset .Params "cover" }}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@{{ .Site.Params.twitter | default $gohugoio }}" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ $description | plainify }}" />
    <meta name="twitter:image" content="{{ .Site.Params.Cover | absURL }}" />
    <meta name="og:image" content="{{ .Site.Params.Cover | absURL }}" />
  {{ else }}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ .Site.Params.twitter | default $gohugoio }}" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ $description | plainify }}" />
    <meta name="twitter:image" content="{{ .Site.Params.Cover | absURL }}" />
    <meta name="og:image" content="{{ .Site.Params.Cover | absURL }}" />
  {{ end }}

{{ else }}

  <!-- Site Author & Description -->
  <meta name="author" content="{{ .Site.Params.author }}" />
  <meta name="description" content="{{ .Site.Params.description }}" />

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ .Site.Params.twitter | default $gohugoio }}" />
  <meta name="twitter:title" content="{{ if isset .Site.Params "seotitle" }}{{ .Site.Params.seotitle }}{{ else }}{{ .Site.Title }}{{ end }}" />
  <meta name="twitter:description" content="{{ .Site.Params.description }}" />
  <meta name="twitter:image" content="{{ .Site.Params.Cover | absURL }}" />
  <meta name="og:image" content="{{ .Site.Params.Cover | absURL }}" />

{{ end }}

<!-- Hugo info -->
{{ hugo.Generator }}

<!-- Permalink & RSSlink -->
<link rel="canonical" href="{{ .Permalink }}">
<link rel="alternative" href="/index.xml" title="{{ .Site.Title }}" type="application/atom+xml">

<!-- Rending Prefs -->
<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta name="format-detection" content="telephone=no,email=no,adress=no" />

<!-- SEO Prefs -->
<meta name="robots" content="index,follow" />
<meta name="referrer" content="origin-when-cross-origin" />
{{ if isset .Site.Params "googlesiteverification" }}<meta name="google-site-verification" content="{{ .Site.Params.googleSiteVerification }}" />{{ end }}
{{ if isset .Site.Params "msvalidate" }}<meta name="msvalidate.01" content="{{ .Site.Params.msValidate }}" />{{ end }}

<!-- Favicon and Touch icons -->
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- Styles -->
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
<style amp-custom>{{ partial "stylesheet" | safeCSS }}</style>
