<ul class="social-list">
  {{ if isset .Site.Params "email" }}
  <li class="social-item">
    <a href="mailto:{{ .Site.Params.email }}" title="Email">
      <svg class="icon" fill="currentColor"><use xlink:href="#icon-email" /></svg>
    </a>
  </li>
  {{ end }}

  {{ if isset .Site.Params "github" }}
  <li class="social-item">
    <a href="//github.com/{{ .Site.Params.github }}" title="GitHub">
      <svg class="icon" fill="currentColor"><use xlink:href="#icon-github" /></svg>
    </a>
  </li>
  {{ end }}

  {{ if isset .Site.Params "twitter" }}
  <li class="social-item">
    <a href="//twitter.com/{{ .Site.Params.twitter }}" title="Twitter">
      <svg class="icon" fill="currentColor"><use xlink:href="#icon-twitter" /></svg>
    </a>
  </li>
  {{ end }}

  {{ if isset .Site.Params "linkedin" }}
  <li class="social-item">
    <a href="//www.linkedin.com/in/{{ .Site.Params.linkedin }}" title="Linkedin">
      <svg class="icon" fill="currentColor"><use xlink:href="#icon-linkedin" /></svg>
    </a>
  </li>
  {{ end }}

  {{ if isset .Site.Params "facebook" }}
  <li class="social-item">
    <a href="//www.facebook.com/{{ .Site.Params.facebook }}" title="Facebook">
      <svg class="icon" fill="currentColor"><use xlink:href="#icon-facebook" /></svg>
    </a>
  </li>
  {{ end }}

  {{ if isset .Site.Params "google" }}
  <li class="social-item">
    <a href="//plus.google.com/{{ .Site.Params.google }}" title="Google+">
      <svg class="icon" fill="currentColor"><use xlink:href="#icon-googleplus" /></svg>
    </a>
  </li>
  {{ end }}

  {{ if isset .Site.Params "instagram" }}
  <li class="social-item">
    <a href="//www.instagram.com/{{ .Site.Params.instagram }}" title="Instagram">
      <svg class="icon" fill="currentColor"><use xlink:href="#icon-instagram" /></svg>
    </a>
  </li>
  {{ end }}

  {{ if isset .Site.Params "youtube" }}
  <li class="social-item">
    <a href="//www.youtube.com/user/{{ .Site.Params.youtube }}" title="YouTube">
      <svg class="icon" fill="currentColor"><use xlink:href="#icon-youtube" /></svg>
    </a>
  </li>
  {{ end }}

  {{ if isset .Site.Params "dribbble" }}
  <li class="social-item">
    <a href="//dribbble.com/{{ .Site.Params.dribbble }}" title="Dribbble">
      <svg class="icon" fill="currentColor"><use xlink:href="#icon-dribbble" /></svg>
    </a>
  </li>
  {{ end }}

  {{ if isset .Site.Params "reddit" }}
  <li class="social-item">
    <a href="//reddit.com/user/{{ .Site.Params.reddit }}" title="Reddit">
      <svg class="icon" fill="currentColor"><use xlink:href="#icon-reddit" /></svg>
    </a>
  </li>
  {{ end }}

<!--   <li class="social-item">
    <a href="/index.xml" title="RSS">
      <svg class="icon" fill="currentColor"><use xlink:href="#icon-rss" /></svg>
    </a>
  </li> -->
</ul>
